In [1]:
def add_lists_index_wise(list1, list2):
    # Find the length of the longer list
    max_length = max(len(list1), len(list2))
    
    # Initialize the result list
    result = []
    
    # Iterate through the indexes of the longest list
    for i in range(max_length):
        # Initialize an empty string to accumulate the characters
        combined = ""
        
        # Add element from list1 if index exists
        if i < len(list1):
            combined += list1[i]
        
        # Add element from list2 if index exists
        if i < len(list2):
            combined += list2[i]
        
        # Append the combined result to the result list
        result.append(combined)
    
    return result

# Given lists
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

# Call the function and print the result
result_list = add_lists_index_wise(list1, list2)
print(result_list)

['My', 'name', 'is', 'Kelly']

In [7]:
 set1 = {10, 20, 30, 40, 50,60,70}                 
set2 = {40, 50, 60, 70,80,90}
result=set1.symmetric_difference(set2)
print(result)

{10, 80, 20, 90, 30}

WAP to Ask users to enter age, gender (M or F), marital status (Y or N) and then using following rules print their place of service.

If the employee is female, then she will work only in urban areas.

If employee is a male and age is in between 20 to 40 then he may work in anywhere

If the employee is male and age is between 40 to 60 then he will work in urban areas only.

And any other input of age should print "ERROR".

In [16]:
x=int(input())
if x<100:
    print(f"value is sum of {x} is" , x+100)
elif x==100:
    print(f"vale of {x} is square is",x**2)
else:
    print("none")

value is sum of 46 is 146

In [34]:
light_bill=int(input())
if light_bill==100:
    print(f"no charge for {light_bill}")
elif light_bill >100 and light_bill <=200:
    print(f"5 rs per unit will charge for {light_bill} is ",(light_bill-100)*5)
elif light_bill>200:
    print(f"10 rs per unit will charge for {light_bill} is", light_bill*10)

5 rs per unit will charge for 170 is  350

In [31]:
z=int(input())
if z%2==0:
    print(f"number is even {z}")
else:
    print(f"number is odd {z}")

number is even 20

In [28]:
y=int(input())
if y%5==0:
    print("hello")
else:
    print("bye")

hello

In [32]:
c=int(input())
if c%10==0:
    print(f"last no of {c} is ",{c})
else:
    print("no")

last no of 10 is  {10}

In [38]:
grade=int(input())
if grade>90:
    print(f'grade is student for {grade} is A')
elif grade >80 and grade<=90:
    print(f'grade is student for {grade} is B ')
elif grade >=60 and grade<=80:
    print(f'grade is student for {grade} is C')
else:
    print(f'grade is student for {grade} is D')

grade is student for 80 is C

In [40]:
cost=(100000*0.15)+(100000)
print(cost)

115000.0

In [41]:
cost_bike=int(input())
if cost_bike>100000:
    tax1=(cost_bike*0.15)+(cost_bike)
    print(f'total cost of bike is {tax1}')
elif cost_bike>50000 and cost_bike<100000:
    tax2=(cost_bike*0.10)+(cost_bike)
    print(f'total cost of bike is {tax2}')
else:
    tax3=(cost_bike*0.05)+(cost_bike)
    print(f'total cost of bike is {tax3}')

total cost of bike is 230000.0

In [44]:
city=input()
if city=="delhi":
    print(f"monument of the city {city} is red fort")
elif city=="agra":
    print(f"monument of the city {city} is taj mahal")
elif city=="jaipur":
    print(f"monument of the city {city} is jal mahal")
else:
    print("not applicable")

not applicable

In [48]:
vote_age=int(input())
if vote_age>=18:
    print('person is eligible for vote')
else:
    print('person is not eligible for vote')

person is not eligible for vote

In [49]:
senior_citizen=int(input())
if senior_citizen>=60:
    print('person is senior citizen')
else:
    print('person is not senior citizen')

person is not senior citizen

In [50]:
number_of_days=int(input())
number_of_absent_days=int(input())
per=(number_of_days-number_of_absent_days)/number_of_days*100
if per<75:
    print('student will not able to sit in exam')
else:
    print('student will sit for exam')

student will sit for exam

In [61]:
perc=int(input())
if perc <25:
    print(f'grade will be for{perc} is D')
elif perc>25 and perc <45:
    print(f'grade will be for{perc} is C' )
elif perc>45 and perc <50:
    print(f'grade will be for{perc} is B')
elif perc>50 and perc <60:
    print(f'grade will be for{perc} is B+')
elif perc>60 and perc <80:
    print(f'grade will be for{perc} is A')
else:
    print(f'grade will be for{perc}is A+')

grade will be for89is A+

In [63]:
salary=int(input())
service=int(input())
if service>10:
    bonus1=salary*0.10+salary
    print(f'net salary after bonus for {service} is', bonus1)
elif service>=6 and service <=10:
    bonus2=salary*0.08+salary
    print(f'net salary after bonus for {service} is',bonus2)
elif service <6:
    bonus3:salary*0.05+salary
    print(f'net salary after bonus for {service} is ',bonus3)

net salary after bonus for 16 is 33000.0

In [69]:
marked_price=int(input())
if marked_price>10000:
    net1=(marked_price)-(marked_price*0.20)
    print(f'net amount as to pay {net1}')
elif marked_price >7000 and marked_price <=10000:
    net2=(marked_price)-(marked_price*0.15)
    print(f'net amount as to pay {net2}')
else:
    net3=(marked_price)-(marked_price*0.10)
    print(f'net amount as to pay {net3}')
print(net1)

net amount as to pay 9600.0
9600.0

In [ ]:
age=int(input())
sex=input()
nd=int(input())
if age>=18 and age <30 and sex=="m":
    wages=nd*